#!/bin/bash

FILE_OWNER='stat -c "%U" .' #> list`

#cat list | parallel 

'cat <<EOF
{
    "file_owner" : "${FILE_OWNER}"
}
EOF'

#cat <<EOF
##{
#    "vpn_ip" : "10.0.0.$IP_INDEX"
#}
#EOF

### comment cat list | parallel 'echo "{\"file_owner\" : \"${FILE_OWNER}\"}"'