[deployment-client]
# Set the phoneHome at the end of the PS engagement
# 10 minutes
phoneHomeIntervalInSecs = {{ deployment_client_homephone_interval }}

[target-broker:deploymentServer]
# Change the targetUri
targetUri = {{ deployment_server }}:{{ management_port }}
