# Remove commented out indicators if distributed search is enabled.
# Distributed search is generally configured through the web UI.
#[distributedSearch]
#servers = https://{{ deployment_server }}:{{ management_port }}
